<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/cinema_popcorn.svg" type="image/x-icon">
</head>