* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: steelblue;
  font-size: 1.8rem;
  text-align: center;
  margin: 2rem 0;
}

main {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;

  table {
    width: 100%;

    tr:nth-child(even) {
      background-color: darksalmon;
    }
    td {
      padding: 0.5rem;
    }
  }

  form {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;

    label {
      display: block;
    }
    input {
      padding: 0.4rem;
      width: 100%;
    }
    div {
      margin: 0.8rem;
    }

    #buttons {
      display: flex;
      justify-content: space-between;
    }

    button {
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border-radius: 10px;
      border: none;
    }

    button[type="submit"] {
      background-color: lightgreen;
    }
        button[type="reset"] {
      background-color: lightsalmon;
    }
  }
}
